<!-- Zone Box Content -->

<div class='box_content'>
	<img class='my_logo2' src='{{ STATIC_URL }}img/Dupont-LOGO.png'>
	<h4 class='box_title'>{{ polygon.title }}</h4>
	{% if polygon.farm_info %}
		<p><b>Address:</b> {{ polygon.farm_info.address }}</p>
		<p><b>Phone:</b> {{ polygon.farm_info.phone }}</p>
		<p><b>Sales Representative:</b> {{ polygon.farm_info.sales_representative }}</p>
		<p><b>Email:</b> {{ polygon.farm_info.email }}</p>
		<p><b>Decision Maker:</b> {{ polygon.farm_info.decision_maker }}</p>
		<b>Products:</b>
		<ul>
			<li>Canola (Roundup Ready): {{ polygon.farm_info.canola_roundup }} acs</li>
			<li>Canola (LL): {{ polygon.farm_info.canola_ll }} acs</li>
			<li>Canola (CL): {{ polygon.farm_info.canola_cl }} acs</li>
			<li>Canola (Speciality): {{ polygon.farm_info.canola_speciality }} acs</li>
			<li>Corn: {{ polygon.farm_info.corn }} acs</li>
			<li>Soybean: {{ polygon.farm_info.soybean }} acs</li>
		</ul>
	{% endif %}
	{% if user.is_superuser %}
		<table class='table my_table'>
			<tr>
				{% if not polygon.farm_info %}
					<td><a href='/add_info/{{ polygon.id }}'>Add Info</a></td>
					<td></td>
				{% else %}
					<td><a href='/edit_info/{{ polygon.farm_info.id }}'>Edit Info</a></td>
					<td><a href='/remove_info/{{ polygon.farm_info.id }}'>Delete Info</a></td>
				{% endif %}
			</tr>
			<tr>
				<td><a href='/edit_map/{{ polygon.id }}'>Edit Map</a></td>
				<td><a href='/delete_map/{{ polygon.id }}'>Delete Map</a></td>
			</tr>
		</table>
	{% endif %}
</div>